<!DOCTYPE html>
<html>
<head>
  <title>Game</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <div class="nav-wrapper">
    <%= link_to root_path, class: 'brand-logo' do %>
        <i class="material-icons">games</i>FizzBuzz
    <% end %>

    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'About', about_path %></li>
    </ul>
  </div>
</nav>
<%= yield %>
</body>
</html>
